.color-chooser {
  display: flex;
  flex-flow: row wrap;
  justify-content: flex-end;
  align-items: center;
}

.color-item {
  width: 30px;
  height: 30px;
  border: 2px solid white;
  border-radius: 50%;
  cursor: pointer;
  margin: 0 0 0 5px;
}