.footer {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: space-between;
  padding: 20px 0 10px;
}

.github-link {
  padding: 2px;
  border-radius: 9999px;
  border: 2px solid white;
  font-size: 26px;
  color: white;
}