.subtask-list-container {
  position: relative;
  background-color: white;
  margin: -5px 0 0 18px;
  border-radius: 0 0 5px 5px;
  padding-top: 5px;
}

.subtask-list-container.show-button.closed {
  margin-bottom: 10px;
}

.subtask-list-container.show-button.open {
  padding-top: 9px;
}

.subtask-list-container.closed .subtask-list {
  display: none; /* TODO: animate this */
}

.subtask-list-container.hide-button .subtask-list-btn {
  display: none;
}

.subtask-list > *:first-child {
  margin-top: 2px;
}

.subtask-list-btn {
  position: absolute;
  display: flex;
  flex-flow: row nowrap;
  top: 5px;
  right: 5px;
  transform: translateY(-50%);
  background-color: white;
  border-radius: 5px;
  padding: 5px 10px;
  font-size: 10px;
  line-height: 1em;
  text-transform: uppercase;
  box-shadow: 0 0 3px rgba(0, 0, 0, 0.2);
  z-index: 50;
  cursor: pointer;
}

.subtask-list-btn:hover {
  color: #1976D2;
}

.subtask-list-btn .icon-wrapper {
  margin-right: 5px;
}

.subtask {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  padding: 4px 5px;
  font-size: 14px;
  border-top: 1px solid #eeeeee;
}

.subtask:first-child {
  border-top: none;
}

.subtask .complete-subtask-btn {
  color: #CCC;
  font-size: 12px;
  width: 14px;
  height: 14px;
  cursor: pointer;
  padding: 5px;
  margin-right: 5px;
}

.subtask .complete-subtask-btn:hover {
  color: #4CAF50;
}

.subtask-list-new {
  align-items: stretch;
  padding: 5px;
}

.subtask-list-new input {
  flex-grow: 1;
  border: 1px solid #CCC;
  border-radius: 5px 0 0 5px;
  padding: 5px;
}

.subtask-list-new .add-subtask-btn {
  background-color: #CCC;
  color: white;
  padding: 5px 10px;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: 10px;
  font-weight: bold;
  border-radius: 0 5px 5px 0;
}

.subtask-list-new input:valid + .add-subtask-btn {
  background-color: #2196F3;
  cursor: pointer;
  pointer-events: auto;
}