.task-toolbar {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: space-between;
  width: 100%;
  margin: 10px 0;
  box-sizing: border-box;
}

.task-toolbar-btn {
  border: none;
  background: none;
  outline: none;
  color: #03A9F4;
  background-color: white;
  border-bottom: 2px solid #CCC;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  flex-grow: 1;
  margin: 0 2px 0 0;
}

.task-toolbar-btn:first-child {
  border-radius: 5px 0 0 5px;
}

.task-toolbar-btn:last-child {
  margin-right: 0;
  border-radius: 0 5px 5px 0;
}

.task-toolbar-btn:hover {
  border-color: #03A9F4;
  background-color: #B3E5FC;
}

.task-toolbar-btn:active {
  background-color: #03A9F4;
  color: white !important;
  border-bottom: none;
}

.task-toolbar-btn.add {
  color: #03A9F4;
}

.task-toolbar-btn.reset {
  color: #FF5252;
}
