.task-toolbar {
  display: flex;
  flex-flow: row wrap;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
}

.task-toolbar > * {
  margin-bottom: 10px;
}

.title {
  color: white;
  font-size: 20pt;
  font-weight: bold;
  padding-right: 10px;
  margin-right: auto;
}

.button-container {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
}

.task-toolbar-btn {
  border: none;
  background: none;
  outline: none;
  color: #03A9F4;
  background-color: white;
  border-bottom: 2px solid #CCC;
  font-size: 18px;
  font-weight: bold;
  padding: 10px 20px;
  margin-bottom: 10px;
  cursor: pointer;
  margin: 0 10px 0 0;
  border-radius: 5px;
}

.task-toolbar-btn:last-child {
  margin-right: 0;
}

.task-toolbar-btn:hover {
  border-color: #03A9F4;
  background-color: #B3E5FC;
}

.task-toolbar-btn:active {
  background-color: #03A9F4;
  color: white !important;
  border-bottom: none;
}

.task-toolbar-btn.add {
  color: #03A9F4;
}

.task-toolbar-btn.sort {
  color: #4CAF50;
}

.task-toolbar-btn.reset {
  color: #FF5252;
}
