.task-header-container {
  display: flex;
  flex-flow: column nowrap;
  margin: 0 0 2px 0;
}

.task-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: visible;
  box-shadow: 1px 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 10;
}

.task-header-handle {
  position: relative;
  min-width: 18px;
  max-width: 18px;
  width: 18px;
  background-color: #CCC;
  border-radius: 5px 0 0 5px;
  cursor: grab;
}

.task-header-handle:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  height: 14px;
  width: 2px;
  border: 2px dotted white;
}

.task-header-center-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-grow: 1;
}

.task-header-main-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
  cursor: pointer;
  padding: 5px 0;
}

.task-header-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-grow: 1;
  margin: 5px 10px;
}

.task-time-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.task-header-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  border-top: 1px solid #eeeeee;
}

.task-header input, .task-header textarea {
  width: 100%;
  font-size: 1em;
  font: inherit;
  color: inherit;
}

.task-header textarea {
  resize: vertical;
}

.task-header.selected {
  color: #03A9F4;
}

.task-header.selected .task-header-handle {
  background-color: #03A9F4;
}

.task-header .task-name {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  font-size: 1.3em;
  word-break: break-word;
  hyphens: auto;
}

.task-header .task-detail {
  margin-top: 3px;
  word-break: break-word;
  hyphens: auto;
}

.task-header .task-time {
  display: flex;
  flex-flow: row nowrap;
  align-items: baseline;
  white-space: nowrap;
  font-size: 1.2em;
}

.task-header .button {
  cursor: pointer;
  text-align: center;
  color: #AAA;
}

.task-time-buttons .button {
  font-size: 12px;
  padding: 4px;
  width: 24px;
  height: 24px;
}

.task-time-buttons .icon-plus-time {
  padding-bottom: 2px;
}

.task-time-buttons .icon-minus-time {
  padding-top: 2px;
}

.task-header .icon-running {
  font-size: 13px;
  width: 13px;
  height: 13px;
  padding: 0 5px 0 0;
  color: #03A9F4;
}

.task-header .icon-edit {
  font-size: 15px;
  width: 15px;
  height: 15px;
  padding: 5px;
  margin-left: 5px;
  color: #CCC;
}

.task-header-buttons .button {
  padding: 5px 10px;
  border-right: 1px solid #eeeeee;
  text-transform: uppercase;
  letter-spacing: .03em;
  font-size: 10px;
  font-weight: bold;
  color: #808080;
}

.task-header-buttons .button-divider {
  flex-grow: 1;
}

.task-header-buttons .button-divider ~ .button {
  border-right: none;
  border-left: 1px solid #eeeeee;
}

.icon-trash:hover {
  color: #F44336;
}

.icon-reset:hover {
  color: #FFC107;
}

.icon-plus-time:hover, .icon-minus-time:hover  {
  color: #333;
}

.icon-edit:hover {
  color: #1976D2;
}

.task-header .icon-save {
  background-color: #1976D2;
  color: white;
}