.task-list {
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
  padding: 10px 0;
}

.no-tasks {
  color: white;
  width: 100%;
  text-align: center;
  margin: 20px 0 0 0;
}

.no-tasks-header {
  font-size: 24pt;
}

.no-tasks.small {
  font-size: 14pt;
  margin: 10px 0 0 0;
}