.task-header {
  display: flex;
  flex-flow: row nowrap;
  align-items: stretch;
  justify-content: space-between;
  width: 100%;
  background-color: white;
  margin: 0 0 2px 0;
  padding: 0;
  font-size: 16px;
  box-sizing: border-box;
  border-radius: 5px;
  overflow: hidden;
}

.task-header-handle {
  position: relative;
  min-width: 18px;
  max-width: 18px;
  width: 18px;
  background-color: #CCC;
  cursor: grab;
}

.task-header-handle:before {
  position: absolute;
  display: block;
  content: "";
  top: 50%;
  right: 6px;
  transform: translateY(-50%);
  height: 14px;
  width: 2px;
  border: 2px dotted white;
}

.task-header-center-content {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-grow: 1;
  border-right: 1px solid #eeeeee;
}

.task-header-main-content {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.task-header-info {
  display: flex;
  flex-flow: row nowrap;
  align-items: center;
  justify-content: flex-start;
  flex-grow: 1;
}

.task-header-details {
  display: flex;
  flex-flow: column nowrap;
  align-items: stretch;
  flex-grow: 1;
  margin: 5px 10px;
}

.task-time-buttons {
  display: flex;
  flex-flow: column nowrap;
  justify-content: center;
}

.task-header-buttons {
  display: flex;
  flex-flow: row nowrap;
  align-items: flex-end;
  justify-content: flex-start;
  border-top: 1px solid #eeeeee;
}

.task-header input, .task-header textarea {
  width: 100%;
  font-size: 1em;
  font: inherit;
  color: inherit;
}

.task-header textarea {
  resize: vertical;
}

.task-header.selected {
  color: #03A9F4;
}

.task-header.selected .task-header-handle {
  background-color: #03A9F4;
}

.task-header-info {
  cursor: pointer;
}

.task-header .task-name {
  font-size: 1.3em;
}

.task-header .task-detail {
  margin-top: 3px;
}

.task-header .task-time {
  white-space: nowrap;
  font-size: 1.2em;
  padding-bottom: 1px;
}

.task-header .button {
  cursor: pointer;
  text-align: center;
  color: #AAA;
}

.task-time-buttons .button {
  font-size: 20px;
  padding: 4px;
  width: 24px;
  height: 24px;
}

.task-header-buttons .button {
  padding: 5px 10px;
  width: 16px;
  height: 16px;
  border-right: 1px solid #eeeeee;
}

.task-header-buttons .button > svg {
  width: 16px;
  height: 16px;
}

.task-header-buttons .button-divider {
  flex-grow: 1;
}

.task-header-buttons .button-divider ~ .button {
  border-right: none;
  border-left: 1px solid #eeeeee;
}

.icon-trash:hover {
  color: #F44336;
}

.icon-reset-time:hover {
  color: #FFC107;
}

.icon-plus-time:hover, .icon-minus-time:hover  {
  color: #333;
}

.icon-edit:hover {
  color: #1976D2;
}

.task-header.editing .icon-edit {
  background-color: #1976D2;
  color: white;
}