@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700');

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Open Sans';
  background-color: #673AB7;
  font-size: 12pt;
  color: #333;
}

#root {
  height: 100%;
}